version: 2.1

orbs:
  android: circleci/android@2.5.0

jobs:
  build-and-test:
    executor:
      name: android/android-docker
      tag: 2024.01.1
    
    steps:
      - checkout
      
      - restore_cache:
          keys:
            - gradle-cache-v1-{{ checksum "build.gradle.kts" }}-{{ checksum "app/build.gradle.kts" }}-{{ checksum "flinger/build.gradle.kts" }}
            - gradle-cache-v1-
      
      - restore_cache:
          keys:
            - gradle-wrapper-v1-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
            - gradle-wrapper-v1-
      
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies
      
      - save_cache:
          paths:
            - ~/.gradle/caches
            - ~/.gradle/wrapper
          key: gradle-cache-v1-{{ checksum "build.gradle.kts" }}-{{ checksum "app/build.gradle.kts" }}-{{ checksum "flinger/build.gradle.kts" }}
      
      - save_cache:
          paths:
            - ~/.gradle/wrapper
          key: gradle-wrapper-v1-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
      
      - run:
          name: Run Lint
          command: ./gradlew lint
      
      - run:
          name: Run Tests
          command: ./gradlew test
      
      - run:
          name: Build Debug APK
          command: ./gradlew assembleDebug
      
      - run:
          name: Build Release APK
          command: ./gradlew assembleRelease
      
      - store_artifacts:
          path: app/build/outputs/apk/debug/
          destination: apk-debug
      
      - store_artifacts:
          path: app/build/outputs/apk/release/
          destination: apk-release
      
      - store_artifacts:
          path: app/build/reports
          destination: reports
      
      - store_test_results:
          path: app/build/test-results
      
      - store_test_results:
          path: flinger/build/test-results

workflows:
  build-test-deploy:
    jobs:
      - build-and-test
